.write {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: auto;
  padding: 20px;
  margin: 40px;
  background-color: #F6F4EB;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.writeImg {
  
  height: 60vh;
  width: 85vw;
  object-position: center;
  border-radius: 10px;
  object-fit: cover;
}

/* .writeForm {
  position: relative;
} */

.writeFormGroup {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: 2px solid;
  border-radius: 50%;
  color: #4682A9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.writeInput {
  margin-left: 30px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px;
  width: 70vw;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  width: 70vw;
  height: 50vh;
  font-family: inherit;
  font-size: 20px;

  margin-left: 65px;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px;
  width: 70vw;
}

.writeSubmit {
  margin-top: 20px;
  margin-left: 50%;
  color: #F6F4EB;
  background-color: #4682A9;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
